<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <table>
        <tr><h1>Login Page</h1></tr>
        <tr><td>Username</td><td><input type="text" name="" id="usernameText"></td></tr>
        <tr><td>Password:</td><td><input type="password" name="" id="passwordText"></td></tr>
        <tr><td><button type="button" id="loginBtn">login</button></td><td><button type="button">register</button></td></tr>
    </table>
</body>
</html> 